<!DOCTYPE HTML>
    <html>
        <head>
            <meta charset='utf-8'>
            <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
            <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css'>
            <title>
                Голосуй или умрешь
            </title>
        </head>
        <body>
            <div class='container'>
                <div class='page-header'>
                    <h1>Голосуй или <small>умрешь</small></h1>
                </div>

<p>
Выборы в наше время цифровых технологий являют собой некий атавизм.
Уже давно безразлична и фигура вождя и массовая идеология.
Технологии прочно проникли в голову каждого человека через скоростные каналы связи и рисуют каждому его индивидуальный мирок.
</p>

<p>
Зачем тогда проводятся выборы? Попробуем посмотреть, используются ли результаты выборов для селекции лояльного к власти населения.
Возьмем динамику популяции по регионам РФ по годам до и после выборов и соотнесем ее путем корреляции с результатами голосования за действующую власть:
</p>

%TABLE_RESULTS%

<p>
Средняя картина получается однородной. Динамика популяции до и после выборов равномерно коррелирует с результатом голосования. Но это лишь в среднем.
В 1996 году картина была иной. Электорат Ельцина из 1996 года получил прирост численности населения в поддержавших его регионах.
Это был единственный раз за новую историю России, когда выборы послужили поводом к селекции населения.
</p>

<p>
Посмотрим корреляцию по всем кандидатам на тех выборах и по второму туру:
</p>

%TABLE_RESULTS_1996%

<p>
Виден резкий разворот динамики численности населения в регионах поддержавших Ельцина / Зюганова в диаметрально противоположных направлениях в 1995-1997 годах.
По другим кандидатам и в другие годы даже подобия таких разворотов нет.
</p>

<p>
К моменту выборов социальный оптимизм электората Зюганова был выше.
Зюганов более проходным кандидатом чем Путин в 2004 и Медведев в 2008 вместе взятые.
Что случилось с этим электоратом в дальнейшем?
Он умер. Его не убивали напрямую.
Он умер от недоедания, умер без медицинской помощи, без социальной поддержки.
Умер, потому что потерял оптимизм.
</p>

<p>
Был реализован эффективный, но несколько нечестный предвыборный прием - забрать деньги у тех кто против власти и отдать тем, кто лоялен власти.
Даже если брать в долг - отдавать не надо, они вымрут от безденежья.
Тем более это удобно делать действующей исполнительноый власти.
</p>

<p>
Свидетели тех репрессий в лице губернаторов-старожилов
до сих пор боятся голосования против власти и рисует ей любые проценты.
Страх оступиться столь силен, что сопровождает их уже больше 20 лет, несмотря на то,
что в последующие годы не наблюдается корреляции динамики популяции и результатов выборов.
Страх этот родом из начала прошлого века, он уже вживлен в народ поколения назад теми,
чьи потомки в 1996 воспользовались им.
</p>

<p>
Вместе с тем электоратом умер не коммунизм, как восторженно сообщали Чубаисы, Березовские и Гусинские.
Вместе с теми людьми умерла демократия, как представление о общем владении властью.
Вместе с ними умерла Конституция, декларирующая, что единственным источником власти является народ. 
Власть открыто перешла к СМИ, деньгам, технологиям и тем, кто ими владеет – к наследникам лже-демократов из 1996 года,
к наследникам лже-коммунистов из 1917 года.
</p>

<p>
<center>
    <img src="vote.jpg" alt="Голосуй или проиграшь" width="565" height="500"/>
</center>
</p>

<h2>Исходные данные<h2>

<h3>Результаты голосования за действущую власть по годам</h3>
%TABLE_VOTES%

<h3>Результаты голосования в 1996</h3>
%TABLE_VOTES_1996%

<h3>Численность населения по годам</h3>
%TABLE_POPULATION%

<h3>Источники</h3>
<ol>
<li><a href="https://www.fedstat.ru/indicator/31557.do">население до 2013</a></li>
<li><a href="https://ru.wikipedia.org/wiki/%D0%9D%D0%B0%D1%81%D0%B5%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5_%D1%81%D1%83%D0%B1%D1%8A%D0%B5%D0%BA%D1%82%D0%BE%D0%B2_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B9%D1%81%D0%BA%D0%BE%D0%B9_%D0%A4%D0%B5%D0%B4%D0%B5%D1%80%D0%B0%D1%86%D0%B8%D0%B8">население после 2013</a></li>
<li><a href="https://ru.wikipedia.org/wiki/%D0%92%D1%8B%D0%B1%D0%BE%D1%80%D1%8B_%D0%B2_%D0%93%D0%BE%D1%81%D1%83%D0%B4%D0%B0%D1%80%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D1%83%D1%8E_%D0%B4%D1%83%D0%BC%D1%83_(1995)">выборы 1995</a></li>
<li><a href="http://www.electoralgeography.com/ru/countries/r/russia/1996-president-elections-russia.html">выборы 1996</a></li>
<li><a href="https://ru.wikipedia.org/wiki/%D0%9F%D1%80%D0%B5%D0%B7%D0%B8%D0%B4%D0%B5%D0%BD%D1%82%D1%81%D0%BA%D0%B8%D0%B5_%D0%B2%D1%8B%D0%B1%D0%BE%D1%80%D1%8B_%D0%B2_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8_(2000)">выборы 2000</a></li>
<li><a href="http://www.electoralgeography.com/ru/countries/r/russia/2003-legislative-elections-russia.html">выборы 2003</a></li>
<li><a href="http://www.electoralgeography.com/ru/countries/r/russia/2004-president-elections-russia.html">выборы 2004</a></li>
<li><a href="https://ru.wikipedia.org/wiki/%D0%92%D1%8B%D0%B1%D0%BE%D1%80%D1%8B_%D0%B2_%D0%93%D0%BE%D1%81%D1%83%D0%B4%D0%B0%D1%80%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D1%83%D1%8E_%D0%B4%D1%83%D0%BC%D1%83_(2007)">выборы 2007</a></li>
<li><a href="https://ru.wikipedia.org/wiki/%D0%9F%D1%80%D0%B5%D0%B7%D0%B8%D0%B4%D0%B5%D0%BD%D1%82%D1%81%D0%BA%D0%B8%D0%B5_%D0%B2%D1%8B%D0%B1%D0%BE%D1%80%D1%8B_%D0%B2_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8_(2008)">выборы 2008</a></li>
<li><a href="https://ru.wikipedia.org/wiki/%D0%92%D1%8B%D0%B1%D0%BE%D1%80%D1%8B_%D0%B2_%D0%93%D0%BE%D1%81%D1%83%D0%B4%D0%B0%D1%80%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D1%83%D1%8E_%D0%B4%D1%83%D0%BC%D1%83_(2011)">выборы 2011</a></li>
<li><a href="https://ru.wikipedia.org/wiki/%D0%9F%D1%80%D0%B5%D0%B7%D0%B8%D0%B4%D0%B5%D0%BD%D1%82%D1%81%D0%BA%D0%B8%D0%B5_%D0%B2%D1%8B%D0%B1%D0%BE%D1%80%D1%8B_%D0%B2_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8_(2012)">выборы 2012</a></li>
<li><a href="https://ru.wikipedia.org/wiki/%D0%92%D1%8B%D0%B1%D0%BE%D1%80%D1%8B_%D0%B2_%D0%93%D0%BE%D1%81%D1%83%D0%B4%D0%B0%D1%80%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D1%83%D1%8E_%D0%B4%D1%83%D0%BC%D1%83_(2016)">выборы 2016</a></li>
</ol>

<h3>Исходный код</h3>
<a href="https://github.com/dobrolubov/voteordie">https://github.com/dobrolubov/voteordie</a>

<hr/>

</div>
</body>
</html>