<!DOCTYPE HTML>
    <html>
        <head>
            <meta charset='utf-8'>
            <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
            <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css'>
            <title>
                Голосуй или умрешь
            </title>
        </head>
        <body>
            <div class='container'>
                <div class='page-header'>
                    <h1>Голосуй или <small>умрешь</small></h1>
                </div>

<p>
Выборы в наше время цифровых технологий являют собой некий атавизм.
Уже давно безразлична и фигура вождя и массовая идеология.
Технологии прочно проникли в голову каждого человека через скоростные каналы связи и рисуют каждому его индивидуальный мирок.
</p>

<p>
Зачем тогда проводятся выборы? Попробуем посмотреть, используются ли результаты выборов для селекции лояльного к власти населения.
Возьмем динамику популяции по регионам по годам до и после выборов и соотнесем ее путем корреляции с результатами голосования за действующую власть:
</p>

%TABLE_RESULTS%

<p>
Средняя картина получается однородной. Динамика популяции до и после выборов равномерно коррелирует с результатом голосования. Но это лишь в среднем.
В 1996 году картина была иной. Электорат Ельцина из 1996 года получил прирост численности населения в поддержавших его регионах.
Это был единственный раз за новую историю России, когда выборы послужили поводом к селекции населения.
</p>

<p>
К моменту выборов социальный оптимизм электората Зюганова был выше.
Зюганов более проходным кандидатом чем Путин в 2004 и Медведев в 2008 вместе взятые.
Что случилось с этим электоратом в дальнейшем?
Он умер. Его не убивали напрямую.
Он умер от недоедания, умер без медицинской помощи, без социальной поддержки.
Умер, потому что потерял оптимизм.
</p>

<p>
Свидетели тех репрессий в лице губернаторов-старожилов
до сих пор боятся голосования против власти и рисует ей любые проценты.
Страх оступиться столь силен, что сопровождает их уже больше 20 лет, несмотря на то,
что в последующие годы не наблюдается корреляции динамики популяции и результатов выборов.
Страх этот родом из начала прошлого века, он уже вживлен в народ поколения назад теми,
чьи потомки в 1996 воспользовались им.
</p>

<p>
Вместе с тем электоратом умер не коммунизм, как восторженно сообщали Чубаисы, Березовские и Гусинские.
Вместе с теми людьми умерла демократия, как представление о общем владении властью.
Вместе с ними умерла Конституция, декларирующая, что единственным источником власти является народ. 
Власть открыто перешла к СМИ, деньгам, технологиям и тем, кто ими владеет – к наследникам лже-демократов из 1996 года,
к наследникам лже-коммунистов из 1917 года.
</p>

<h2>Исходные данные<h2>

<h3>Результаты голосования за действущую власть по годам</h3>
%TABLE_VOTES%

<h3>Численность населения по годам</h3>
%TABLE_POPULATION%

</div>
</body>
</html>